@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'DM Sans', sans-serif;
    background: #050508;
    color: white;
    -webkit-font-smoothing: antialiased;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #22223b transparent;
  }
}

@layer utilities {
  .font-700 { font-weight: 700; }
  .font-600 { font-weight: 600; }
  .font-500 { font-weight: 500; }
}
